n8n-workflow.json
{
  "name": "App Script Chatbot for Vehicle Information",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "<your-webhook-id>",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4daa61c6-1dcc-4590-9328-1745b0e00539",
      "name": "Webhook",
      "webhookId": "<your-webhook-id>"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "5224ac6f-c9f2-44a4-8f99-a5ac821a3ed1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "<openai-credential-id>",
          "name": "<openai-credential-name>"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.messageText }}",
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nYou will receive a **Vehicle Number** as input. Search for this vehicle number in the provided Google Sheet.\n\n* If a matching record is found, return **only** the following fields:\n\n  * **Name**\n  * **Contact Number**\n  * **Email Address**\n\n* If no matching record is found, respond with exactly:\n  **`No info found`**\n\nDo not include any additional text or explanation in your response.\n\nAfter returning the result **only when a match is found**, ask the user the following question in a new message:\n\n> *Would you like to send an email alert to this person?*\n\nIf answered Yes, Create an Email with \n\nSubject: ASSISTANCE REQUIRED: You Vehicle Parked Incorrectly\nBody: You Vehicle is parked incorrectly, please reach out to admin team and Re-park it. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        280,
        0
      ],
      "id": "2f8ec654-7ec1-4c3f-ac51-97ab279d470c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Google Sheet Containing Vehicle number and its contact number, name and Email",
        "documentId": {
          "__rl": true,
          "value": "<google-sheet-id>",
          "mode": "list",
          "cachedResultName": "Vehicle Information",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "aeeb2081-771e-44fa-92d6-4b1f0ffdc26e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<google-sheets-credential-id>",
          "name": "<google-sheets-credential-name>"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        0
      ],
      "id": "9c1ac72e-7652-42bf-a6b7-b2ab000c6168",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.messageText }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "9c0bc642-c8ff-470f-87f8-f7b8d0ee3fc8",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "<workflow-version-id>",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "<n8n-instance-id>"
  },
  "id": "<workflow-id>",
  "tags": []
}
